:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: #000;
  color: #fff;
}

nav {
  position: fixed;
  top: 40px;
  left: 64.9%;
  background-color: transparent;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 10;
}

nav a {
  color: #00bfff;
  margin-left: 44px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 0.05em;
  transition: transform 0.2s ease, color 0.2s ease;
}

nav a:hover {
  color: #ffffff;
  transform: scale(1.2) rotate(-2deg);
  text-decoration: underline;
}
